  @import url(https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98);

      :root {
        font-family: Calibri;
        font-weight: 400;
        font-size: 13px
      }
      @page {
        size: A4;
        margin-top: 25mm;
        margin-bottom: 20mm;
        margin-left: 1;
        margin-right: 1;
        padding: 0mm 18mm;
      }
      @page {
        @top-right-corner {
          content: "Página " counter(page) " de " counter(pages);
          font-size: 12px;
          text-align: right;
          width: 20mm;
          height: 6mm;
          margin-left: 178mm;
          margin-top: 50px;
          }
      }
      @page {             
        @top-center {
            content: element(topcenterrunning);
            text-align: right;
            font-size: 11px;
            margin-right: 23mm;
            margin-top: 45px;
            padding-right: 10px;
            padding-top: 12px;
            width:150mm;
            height:40px;
            border-right: 2px solid rgb(118, 118, 118);
          }
      }
      @page {
          @top-left-corner {
            content: element(logorunning);
        }
      }

      .logo {
        position: running(logorunning);
        height: 20mm;
        width: 210mm;        
      }
      .separadorverde {
        background: #A8CF45;
        width:190mm;
        height: 2px;
        margin: auto;
        border-radius: 2px;
        
      }
      .logoimg {
        height: 11mm;
        margin-right: 157mm;
        margin-top: 7mm;
        margin-bottom: 1.5mm;
      }
      .topcenter {
        position: running(topcenterrunning);    
      }
      h1 {
        text-align: center;
        font-size: 20px;
      }
      h3 {
        text-align: center;
        background-color: rgb(206, 205, 205);
        padding: 3px;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 3px 3px 0 0;
      }
      h4 {
        text-align: center;
        background-color: rgb(206, 205, 205);
        padding: 3px;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 3px 3px 0 0;  
        position: absolute;
        width: 100%;      
      }
      .caja-resultados {
        border: 2px solid gainsboro;
        border-radius: 5px;
      }
      .tabla-resultados {
        width: 100%;
        text-align: center;
      }
      .encabezado-tabla {
        background-color: gainsboro;
        height: 25px;
      }

      .c1 {
        width: 7cm;
      }
      td {
        border-bottom: 1px dashed gainsboro;
      }
      td.c1 {
        text-align: left;
      }
      .datos-punto {
        margin: 0;
        padding-left: 2px;
        padding-top: 2px;
        padding-bottom: 0;
      }
      tbody > tr:nth-of-type(2n) {
        background-color: gainsboro;
      }
      .contenedor-fotos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .caja-foto {
        border: 2px solid gainsboro;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
      }
      .foto {
        height: 70mm;
      }

